body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(15, 15, 22);
}

.container {
  height: 100%;
  width: 100%;
}

.menu {
  position: absolute;
  top: 50%;
  left: 2%;
  width: 6%;
  height: 70%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid white;
  border-radius: 20px;
  transform: translateY(-50%);
}

#input {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 50%;
  height: 50px;
  width: 50px;
  background-color: rgb(15, 15, 22);
  color: white;
}

#select {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 50%;
  height: 100px;
  width: 100px;
}